body {
    background-color: #EFEFEF;
}

#about {
    min-height:85vh;
    height:auto;
    width:100%;
    
}
#about img {
    float:right;
    max-width:30%;
    max-height:45%;
    margin-top:15%;
    border-radius: 5px;
}

#headshot-description {
    display:inline-block;
}

#name {
    font-family:Raleway,cursive;
    font-size: 5em;
    margin-top: 5%;
}

#desc {
    margin-top:30px;
    margin-bottom: 2%;
}

#help {
    font-size:15px;
}

#portfolio {
    min-height: 80vh;
    height: auto;
    padding: 5% 3% 5% 3%;
}
.project {
    cursor:pointer;
    width:31vw;
    height:auto;
}

.divider {
    background-color: #ff3b3f;
    height: 100px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-size: 3em;
    font-family: 'Raleway', sans-serif;
    margin: auto 0 auto 0;
}

.icon {
    font-size: 2em;
    padding-top: 5%;
}

#contact {
    width:100%;
    height:100%;
  }