#about {
  width: 100%;
  height: 100%;
  background-fit: cover;
  overflow: hidden;
  background-position: center;
}

#about img {
  float:right;
  display:inline-block;
  max-width:30%;
  max-height:60%;
  margin:150px 20px;
  border-radius: 5px;
}

#headshot-description {
  display:inline-block;
  background-color: white;
  max-width:60%;
  height:60%;
  margin: 150px 0 0 40px;
  border-radius:5px
}

#portfolio {
  width: 100%;
  height: 1000px;
  background-fit: cover;
  overflow: hidden;
}

.col-xs-4{
  display:inline-block;
  margin: 50px 0 0 20px;
}

#contact {
  width:100%;
  height:1000px;
  background-fit: cover;
  overflow: hidden;
}
