#about {
  width: 100%;
  height: 100%;
  background-fit: cover;
  overflow: hidden;
  background-position: center;
}

#about img {
  float:right;
  display:inline-block;
  max-width:30%;
  max-height:45%;
  margin:150px 20px;
  border-radius: 5px;
}

#name {
  font-size: 500%;
  margin-top: 3%;
}

#headshot-description {
  display:inline-block;
  max-width:60%;
  height:60%;
  margin: 150px 0 0 5%;
  border-radius:5px
}

.fa {
  margin-top: 10%;
  font-size: 400%;
}

#portfolio {
  padding-bottom: 40px;
  width: 100%;
  height: 100%;
  background-fit: cover;
  overflow: hidden;
}

.col-xs-4{
  width:30%;
  height:auto;
  display:inline-block;
  margin: 50px 0 0 20px;
}

.col-xs-4:hover {
  cursor: pointer;
}

#contact {
  width:100%;
  height:100%;
  background-fit: cover;
  overflow: hidden;
}
