#about {
  width: 100%;
}

#about img {
  visibility: hidden;
  width:1%;
}

#name {
  margin-top: 5%;
  font-size: 200%
}

#headshot-description {
  display:inline-block;
  max-width:90%;
  height: auto;
  margin: 20% 5% 0 5%;
  border-radius:5px;
  font-size: 15px;
}

.fa {
  margin-top: 5%;
  font-size: 200%;
}

#portfolio {
  width:100%;
  padding-top: 14%;
  padding-bottom: 35%;
}

#portfolio .col-xs-6 {
  cursor:pointer;
  width:90%;
  margin-right: 2%;
  margin-left: 2%;
  margin-bottom: 3%;
}

#contact {
  width:100%;
  height:100%;
}
