#about {
  width: 100%;
  height:100%;
}

#about img {
  width: 200px;
  height: 250px;
  border-radius: 100%;
  object-position:top;
  object-fit:cover;
}

#headshot-description {
  display:inline-block;
  background-color: white;
  max-width:90%;
  height: auto;
  margin: 20% 5% 0 5%;
  border-radius:5px
}
