#about {
  width: 100%;
  height:100%;
}

#about img {
  width: 30%;
  height: auto;
  border-radius: 100%;
  object-position:top;
  object-fit:cover;
  margin: 10% auto;
  display: block;
}

#name {
  margin-top: 5%;
  font-size: 200%
}

#headshot-description {
  display:inline-block;
  max-width:90%;
  height: auto;
  margin: 20% 5% 0 5%;
  border-radius:5px
}

#portfolio {
  width:100%;
  height:100%;
  padding-top: 14%;
}

#portfolio .col-xs-4 {
  width:45%;
  margin-right: 2%;
  margin-left: 2%;
  margin-bottom: 3%;
}

#contact {
  width:100%;
  height:100%;
}
